.profile__profession {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    max-width: 21rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width: 940px) {
    .profile__profession {
        margin-top: 0.875rem;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        text-align: center;
    }
}