.profile__add-button {
    width: 9.375rem;
    height: 3.125rem;
    background: transparent url('../../../images/add.svg') center no-repeat;
    padding: 0;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.7;
}

@media all and (max-width: 940px) {
    .profile__add-button {
        background: transparent url('../../../images/add-big.svg') center no-repeat;
        width: 17.625rem;
        margin: 2.25rem auto 0 auto;
    }
}