.add-popup__save {
    width: 22.375rem;
    height: 3.134375rem;
    background: #000000;
    border-radius: 2px;
    color: white;
    margin-top: 3rem;
    cursor: pointer;
    padding: 0;
    margin-bottom: 2.3125rem;
}

.add-popup__save:hover {
    opacity: 0.8;
}

@media all and (max-width: 940px) {
    .add-popup__save {
        width: 14.875rem;
        height: 2.875rem;
        margin-top: 2.8125rem;
        margin-bottom: 1.5625rem;
    }
}
  