.pictures  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 1.0625rem;
    grid-row-gap: 1.25rem;
    box-sizing: border-box;
    padding-top: 2.953125rem;
    position: relative;
}

@media all and (max-width: 940px) {
    .pictures {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 1.25rem;
        padding-top: 2.25rem;
    }
}
