.header {
    width: 100%;
    padding-top: 2.8125rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 940px) {
    .header {
        padding-top: 1.75rem;
    }
}
