.popup__field {
    width: 22.375rem;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 0.3rem;
}

.popup__field:first-child {
    margin-top: 3.375rem;
}

@media all and (max-width: 940px) {
    .popup__field {
        width: 14.875rem;
    }
}